@media screen and (max-width: 460px) {
    .header {
        height: 70px;
    }
    .header_burger-menu {
        display: block;
        width: 40px;
        height: 40px;
        /* background-color: red; */
        position: absolute;
        right: 20px;
        background-image: url(../static/burger_menu_icon.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        transition: 0.3s;
    }
    .header__menu { 
        display: none;
    }
    .top-empty {
        height: 70px;
    }
    .header__logo {
        width: 80px;
        height: 55px;
        top: 5px; 
        left: 20px;
    }
   
    .footer__double-ul {
        flex-direction: column;
    }
    .footer__double-ul ul:first-child {
        margin-left: 0px;
    }
    .footer__double-ul li {
        display: flex;
        justify-content: center;
    }
    .footer__double-ul li a {
        font-size: 18px;
    }
    .footer__logo {
        width: 180px;
        height: 180px;
    }
    .footer__double-ul ul li a::before {
        width: 0;
        
    } 
}